* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.userCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  width: 450px;
  margin: 15px;
  padding: 15px 25px;
  background-color: aliceblue;
}
.userImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.setingUser {
  position: absolute;
  top: 15px;
  right: 15px;
}

.userWork {
  color: rgb(125, 129, 133);
}

.userFollowirs {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
}

.userProjects {
  text-transform: capitalize;
  color: rgb(125, 129, 133);
}

.textUser {
  color: rgb(125, 129, 133);
  text-align: center;
}

.cardFooter {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
  margin-top: 35px;
  width: 100%;
}

.socialLinkItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}
.twitter {
  background-color: rgb(65, 176, 250);
  color: white;
}
.facebook-f {
  background-color: rgb(58, 88, 153);
  color: white;
}
.google {
  background-color: rgb(255, 118, 94);
  color: white;
}
.instagram {
  background-color: rgb(241, 98, 151);
  color: white;
}
.buttonVP {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 22px;
  border-radius: 25px;

  padding: 15px 60px;
  text-align: center;
  border: 1px solid #9a9a9a;
  background-color: transparent;
  font-size: 15px;
}

.buttonVP:hover {
  background-color: rgb(50, 182, 191);
  color: white;
  cursor: pointer;
}
